# Python
__pycache__/
*.py[cod]
*.class
.ipynb_checkpoints/
venv/
.env

# Ignore data folder and all its contents
data/
data/FashionMNIST/
data/FashionMNIST/raw/

# Ignore models folder and all its contents
models/
*.pth
*.pt
*.ckpt
